<header class="main-header">
    <img class="logo" src="./../../../assets/FlatNaranjoCropped.png" alt="logo" height="75px">
    <div class="button-holder">
        <button mat-button>Inicio</button>
        <button mat-button>Recetas</button>
        <button mat-button>Log In</button>
        <button mat-button class="different-button">Registro</button>
    </div>
    <img class="burger" src="./../../../assets/burger.png" alt="burger" height="50px">
    <div class="title">
        Recetas de todo el mundo
    </div>
    <div class="subtitle">
        En la palma de tu mano
    </div>
</header>